<div class="banner" style="background-image: url('<%= asset_path('cinema.jpg') %>');">
  <div class="container">
    <h1>Recommendation</h1>
    <div class="re-container">
      <input type="radio" name="position" checked/>
      <% 2.times do %>
        <input type="radio" name="position" />
      <% end %>
      <main id="carousel">
        <% @recommend.each do |bookmark| %>
          <div class="re-item" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path(bookmark.movie.poster_url) %>');">
            <p style="text-align: center; color: white"><%= bookmark.movie.title %></p>
          </div>
        <% end %>
        <main>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <div class="list-container">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>)">
            <h3 class="title"><%= list.name %></h3>
          </div>
        <% end %>
      <% end %>
      <%= link_to new_list_path do %>
        <div class="card card-plus" style="background-image: url('<%= asset_path('plus.jpg') %>')">
          <h3 class="title title-plus">Add a new list</h3>
        </div>
      <% end %>
    </div>
  </div>
