<div class="container mt-3 mb-3" data-controller="form-focus">
  <h1><%= @list.name %>
    <button class="btn btn-primary" id="focusButton" data-action="click->form-focus#focus">
      <i class="fa-solid fa-plus"></i>
    </button>
  </h1>
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="movie-card">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= asset_path(bookmark.movie.poster_url) %>');">
          <div class="card-details">
            <%= bookmark.movie.title %>
            <p style="font-size: 12px"><%= bookmark.movie.overview %></p>
            Rating: <%= bookmark.movie.rating %> <i class="fa-solid fa-star" style="color: yellow"></i>
          </div>
        </div>
        <h3>"<%= bookmark.comment %>"</h3>
        <%= link_to "X",
    bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
    class: "btn btn-danger delete-movie"
  %>
      </div>
    <% end %>
  </div>
  <br>
  <div class="add-container">
    <h1>Add a movie to bookmark of <%= @list.name %></h1>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.input :comment, id: "form" %>
      <%= f.association :movie %>
      <%= f.submit "Add Bookmark", class: "btn btn-primary" %>
    <% end %>
  </div>
  <%= link_to "Back", lists_path, class: "btn btn-secondary" %>
</div>
